./.ipynb_checkpoints
./Old API - Depreciated/.ipynb_checkpoints
./Old API - Depreciated/data
./Old API - Depreciated/d3*.*
./Old API - Depreciated/extract*.*
./Old API - Depreciated/sample_*.*
./Old API - Depreciated/test.html
./download.py